<section class="lists">
  <div class="lists__menu">
    <span class="list__menu__text" ng-click="vm.listMenuOpen = true">... Show menu</span>
    <div class="list__menu-element" ng-class="{'list__menu-is-active': vm.listMenuOpen}">
      <header class="list__menu-header">
        <h3 class="list__menu-title">Menu</h3>
        <button type="button" aria-label="Close" class="close list__menu-close" ng-click="vm.listMenuOpen = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="list__menu-divide"></div>
      </header>
      <!-- /.list__menu-header -->
      <div class="menu-elements">
        <div class="list__menu-change-background">
          <header>
            <div class="list__menu-square"></div>
            <h5 class="list__menu-background-title">Change background</h5>
          </header>
          <div class="list__menu-background-wrapper">
            <div class="background--red" change-background></div>
            <div class="background--blue" change-background></div>
            <div class="background--orange" change-background></div>
            <div class="background--violet" change-background></div>
            <div class="background--pink" change-background></div>
            <div class="background--green" change-background></div>
          </div>
          <!-- /.list__menu-background-wrapper -->
        </div>
        <!-- /.list__menu-change-background -->
        <div class="list__menu-filter" style="display: none;">
          <h5 class="list__menu-filter-title">Filter cards</h5>
          <div class="list__menu-filter-wrapper">
            <div class="list__menu-filter-label">
              <div class="list__menu-filter-square list__menu-filter-square--green"></div>
              <span class="list__menu-filter-text">green label</span>
            </div>
            <!-- /.list__menu-filter-label -->
            <div class="list__menu-filter-label">
              <div class="list__menu-filter-square list__menu-filter-square--red"></div>
              <span class="list__menu-filter-text">red label</span>
            </div>
            <!-- /.list__menu-filter-label -->
            <div class="list__menu-filter-label">
              <div class="list__menu-filter-square list__menu-filter-square--blue"></div>
              <span class="list__menu-filter-text">blue label</span>
            </div>
            <!-- /.list__menu-filter-label -->
            <div class="list__menu-filter-label">
              <div class="list__menu-filter-square list__menu-filter-square--orange"></div>
              <span class="list__menu-filter-text">orange label</span>
            </div>
            <!-- /.list__menu-filter-label -->
            <div class="list__menu-filter-label">
              <div class="list__menu-filter-square list__menu-filter-square--pink"></div>
              <span class="list__menu-filter-text">pink label</span>
            </div>
            <!-- /.list__menu-filter-label -->
          </div>
          <!-- /.list__menu-filter-wrapper -->
        </div>
      </div>
      <!-- /.menu-elements -->
    </div>
    <!-- /.list__menu-element -->
  </div>
  <!-- /.lists__menu -->
  <div class="lists__content" ng-scrollable="{scrollY:'none', scrollXAlways: true, preventKeyEvents: false }">
    <div class="lists__wrapper" ui-tree="listOptions">
      <div ui-tree-nodes ng-model="vm.lists" class="list__placeholder">
        <div class="list__wrapper" ng-repeat="list in vm.lists" ui-tree-node on-finish-render>
          <list data="list" reload="vm.reloadLists()"></list>
        </div>
      </div>
      <div class="list__wrapper list__new well well-sm">
        <p class="list__new__placeholder"
           ng-click="vm.setVisibleNewList()"
           ng-hide="vm.visibleNewList">Add a list...</p>
        <input type="text"
               class="list__new__input"
               ng-model="vm.newListTitle"
               ng-show="vm.visibleNewList"
               custom-focus="vm.focusOn">
        <div class="list__new__controll" ng-show="vm.visibleNewList">
          <button type="button" class="btn btn-success card__new__add" ng-click="vm.createNewList()">Save</button>
          <button type="button" class="close card__new__close" aria-label="Close" ng-click="vm.visibleNewList = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <!-- /.list__wrapper -->
    </div>
    <!-- /.lists__wrapper -->
  </div>
  <!-- /.lists__content -->
</section>
<!-- /.lists -->
