/* maybe one of background color background-color: #ffb96c; */

.lists {
  /*width: 100%;*/
}

/* List sidebar menu */

.lists__menu {
  position: relative;
  text-align: right;
}

.list__menu__text {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  border-radius: 4px;
  color: #fff;
}

.list__menu__text:hover {
  background: rgba(0, 0, 0, .12);
  cursor: pointer;
}

.list__menu-element {
  position: absolute;
  top: -10px;
  right: 0;
  right: -300px;
  height: calc(100vh - 50px); /* 50 its header height */
  width: 300px;
  z-index: 5;
  padding: 0 10px;
  text-align:initial;
  background-color: #edeff0;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  transition: right 300ms ease;
  transform: translateZ(0);
}

.list__menu-is-active {
  right: 0;
}

.list__menu-header {
  position: relative;
}

.list__menu-title {
  text-align: center;
  color: #4d4d4d;
}

.list__menu-close {
  position: absolute;
  top: -4px;
  right: 5px;
  font-size: 2.5em
}

.list__menu-divide {
  height: 1px;
  padding: 0;
  margin: 0 auto;
  background: #d6dadc;
  border: 0;
  color: #d6dadc;
}


/* Background */

.list__menu-background-title {
  font-weight: 600;
}

.list__menu-background-wrapper {
  text-align: center;
}

.list__menu-background-wrapper > div {
  position: relative;
  width: 32%;
  height: 50px;
  display: inline-block;
  border-radius: 3px;
  padding: 6px;
}

.background--red {
  background-color: #B04632;
}

.background--blue {
  background-color: #0079BF;
}

.background--orange {
  background-color: #D29034;
}

.background--violet {
  background-color: #89609E;
}

.background--pink {
  background-color: #CD5A91;
}

.background--green {
  background-color: #519839;
}

/* Filter */

.list__menu-filter-title {
  font-weight: 600;
}

.list__menu-filter-label {
  position: relative;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.list__menu-filter-text {
  position: relative;
  top: 3px;
  left: 4px;
  pointer-events: none;
}

.list__menu-filter-label:hover {
  border-radius: 4px;
  background-color: #298fca;
  color: #fff;
}

.card__color-filter {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
  pointer-events: none;
}

.list__menu-filter-check {
  position: absolute;
  top: 12px;
  right: 10px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  background-image: url(../img/checkmark.svg);
}

/* Main list content */

.lists__content {
  width: 100%;
  height: calc(100vh - 100px); /* 100 its header height + different margins*/
  display: flex;
  flex-direction: column;
}

.lists__wrapper {
  margin: 10px 0;
  flex-grow: 1;
}

.list__wrapper {
  width: 270px;
  height: 100%;
  margin: 0 8px;
  display: inline-block;
  vertical-align: top;
}

.list__wrapper:first-child {
  margin-left: 10px;
}

.list__new {
  display: inline-block;
  margin-left: 2px;
}

.list__new__placeholder {
  margin: 0;
}

.list__new__input {
  width: 100%;
  display: block;
  outline: 0;
}

.list__new__controll {
  margin-top: 10px;
}

.list__placeholder {
  display: inline-block;
}

.list__placeholder > .angular-ui-tree-placeholder {
  width: 270px;
  margin: 0 8px;
  display: inline-block;
  background-color: black;
  background-color: rgba(0, 0, 0, .2);
  border-color: transparent;
  box-shadow: none;
  border-radius: 3px;
}
