@svg-load editpen url(../../../../img/edit-card.svg) {
  fill: #999;
}

@svg-load editpen-hover url(../../../../img/edit-card.svg) {
  fill: #4d4d4d;
}

.card__settings {
  margin-bottom: 10px;
}

.card__settings:hover {
  background-color: #edeff0;
}

.card__dropdown-open {
  background-color: #edeff0;
}

.card__is-editing {
  background-color: #fff;
}

.card__is-editing.card__settings:hover  {
  background-color: #fff;
}

.card__padding {
  padding: 5px 10px;
}

.card__text {
  width: 95%;
  word-wrap: break-word;
  margin: 0 0 5px;
}

.card__settings:hover .card__edit-pen {
  opacity: 1;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__color {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 6px;
  margin: 8px 0;
  vertical-align: top;
  background-color: #3aa6eb;
  border-radius: 5px;
}

.card__edit {
  position: absolute;
  right: 5px;
  display: inline-block;
  cursor: pointer;
}

.card__edit-pen {
  display: inline-block;
  position: relative;
  top: 4px;
  /*right: 10px;*/
  width: 18px;
  height: 18px;
  opacity: 0;
  background: svg-inline(editpen);
  background-size: 18px 18px;
}

.card__edit-pen:hover {
  background: svg-inline(editpen-hover);
}

.pen__is-active {
  opacity: 1;
  background: svg-inline(editpen-hover);
}

.card__dropdown {
  position: absolute;
  top: -6px;
  right: -150px;
  min-width: 140px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  list-style: none;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.card__edit-textarea {
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
}

.card__list {
  padding: 4px 8px;
  color: #333;
  cursor: pointer;
  transition: transform 300ms ease;
  -webkit-font-smoothing: antialiased;
}

.card__list:hover {
  background-color: #555;
  color: #eee;
}

.card__owner {
  float: right;
}

.card__owner-avatar {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

/* card color */

.card__dropdown-separator {
  height: 1px;
  padding: 0;
  margin: 0 auto;
  background-color: #ddd;
  border: 0;
  color: #ddd;
}

.card__list--no-select:hover {
  background-color: #fff;
}

.card__desk {
  display: inline-block;
  color: #aaa;
  margin-bottom: 5px;
  user-select: none;
}

.card__color-lists > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.card__color--green {
  background-color: #61bd4f;
}

.card__color--yellow {
  background-color: #f2d600;
}

.card__color--orange {
  background-color: #ffab4a;
}

.card__color--red {
  background-color: #eb5a46;
}

.card__color--violet {
  background-color: #c377e0;
}

.card__color--blue {
  background-color: #0079bf;
}
