body {
  overflow: hidden;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0;
}

.angular-ui-tree-handle {
  font-weight: inherit;
}

.angular-ui-tree-empty {
  display: none;
}

.angular-ui-tree-handle {
  cursor: -webkit-grab;
}
